<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper Start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include('../partials/header') %>

        <!-- Page Body Start-->
        <div class="page-body-wrapper">

        <%- include('../partials/sidebar') %>

            <!-- Coupon list table starts-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <% messages.forEach(element=> { %>
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <%= element %>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <% }) %>
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Coupon List</h5>
                                        <div class="right-options">
                                            <ul>
                                                <li>
                                                    <a class="btn btn-solid" href="/admin/coupon/add-coupon">Add Coupon</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table all-package coupon-list-table table-hover theme-table"
                                                id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Discount</th>
                                                        <th>Code</th>
                                                        <th>Minimum Price</th>
                                                        <th>Status</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Option</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% coupons.forEach(coupon => { %>
                                                        <tr>
                                                            <td><%= coupon.title %></td>
                                                            <td class="theme-color">₹<%= coupon.discount %></td>
                                                            <td><%= coupon.couponCode %></td>
                                                            <td><%= coupon.minPrice %></td>
                                                            <td class="menu-status">
                                                                <% if (coupon.status ==="enabled") { %>
                                                                   <span class="success">Enabled</span>

                                                                <% } else { %>
                                                                    <span class="danger">Disabled</span>

                                                                <% } %>
                                                            </td>
                                                            <td>
                                                                <%= coupon.startDate.toDateString() %>
                                                            </td>
                                                            <td>
                                                                <%= coupon.endDate.toDateString() %>
                                                            </td>

                                                            <td>
                                                                <ul>
                                                                    <li>
                                                                        <a href="/admin/coupon/edit-coupon/<%=coupon._id %>">
                                                                            <i class="ri-pencil-line"></i>
                                                                        </a>
                                                                    </li>
                                                        
                                                                    <li>
                                                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModalToggle<%= coupon._id %>">
                                                                            <i class="ri-delete-bin-line"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                                <!-- Delete Modal Box Start -->
                                                                <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle<%=coupon._id %>" aria-hidden="true"
                                                                    tabindex="-1">
                                                                    <div class="modal-dialog modal-dialog-centered">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header d-block text-center">
                                                                                <h5 class="modal-title w-100" id="exampleModalLabel22">Are You
                                                                                    Sure ?</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                    <i class="fas fa-times"></i>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="remove-box">
                                                                                    <p>The permission for the use/group,
                                                                                        preview is inherited from the
                                                                                        object, object will create a
                                                                                        new permission for this object
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                                                                                <button type="button" class="btn btn-animation btn-md fw-bold"
                                                                                    data-bs-target="#exampleModalToggle2<%= coupon._id %>" data-bs-toggle="modal"
                                                                                    data-bs-dismiss="modal">Yes</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2<%= coupon._id %>" aria-hidden="true"
                                                                    tabindex="-1">
                                                                    <div class="modal-dialog modal-dialog-centered">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                    <i class="fas fa-times"></i>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="remove-box text-center">
                                                                                    <div class="wrapper">
                                                                                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                                                                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                                                                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                                                                        </svg>
                                                                                    </div>
                                                                                    <h4 class="text-content">It's
                                                                                        Removed.</h4>
                                                                                </div>
                                                                            </div>
                                                                
                                                                            <div class="modal-footer">
                                                                                <a href="/admin/coupon/delete/<%=coupon._id %>">
                                                                                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                                                                                        data-bs-dismiss="modal">Close</button>
                                                                                </a>
                                                                            </div>
                                                                
                                                                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    <% }) %>

                                                </tbody>
                                            </table>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Pagination End -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

        </div>

        
    <!-- page-wrapper End -->
</body>