
<body>

    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include('../partials/header') %>
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <%- include('../partials/sidebar') %>
            <!-- index body start -->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- chart caard section start -->
                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="main-tiles border-5 border-0  card-hover card o-hidden">
                                <div class="custome-1-bg b-r-4 card-body">
                                    <div class="media align-items-center static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Revenue</span>
                                            <h4 class="mb-0 counter">₹ <%= totalRevenue %>
                                                <span class="badge badge-light-primary grow">
                                                    <i data-feather="trending-up"></i>8.5%</span>
                                            </h4>
                                        </div>
                                        <div class="align-self-center text-center">
                                            <i class="ri-database-2-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                                <div class="custome-2-bg b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Orders</span>
                                            <h4 class="mb-0 counter"><%= orderCount %>
                                                <span class="badge badge-light-danger grow">
                                                    <i data-feather="trending-down"></i>4.6</span>
                                            </h4>
                                        </div>
                                        <div class="align-self-center text-center">
                                            <i class="ri-shopping-bag-3-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="main-tiles border-5 card-hover border-0  card o-hidden">
                                <div class="custome-3-bg b-r-4 card-body">
                                    <div class="media static-tocap-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Products</span>
                                            <h4 class="mb-0 counter"><%= productCount %>
                                                <a href="/admin/products/add-product" class="badge badge-light-secondary grow">
                                                    ADD NEW</a>
                                            </h4>
                                        </div>

                                        <div class="align-self-center text-center">
                                            <i class="ri-chat-3-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                                <div class="custome-4-bg b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Customers</span>
                                            <h4 class="mb-0 counter"><%= userCount %>
                                                <span class="badge badge-light-success grow">
                                                    <i data-feather="trending-down"></i>3.5</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- chart card section End -->
                                                <div class="col-xl-6">
                            <div class="card o-hidden card-hover">
                                <div class="card-header border-0 pb-1">
                                    <div class="card-header-title">
                                        <h4>Revenue Report</h4>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <canvas id="lineChart"></canvas>
                                  </div>
                            </div>
                        </div>
                        <div class="col-md-3 " hidden>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Statistics</h5>
                                <p class="card-text">Total Revenue: <span id="revenue">Loading...</span></p>
                                <p class="card-text">Order Count: <span id="ordercount">Loading...</span></p>
                                <p class="card-text">Product Sales: <span id="productsales">Loading...</span></p>
                              </div>
                            </div>
                          </div>
                        


                        <!-- New users  Start -->
                        <div class="col-xl-6 col-md-12">
                            <div class="card o-hidden card-hover">
                                <div class="card-header card-header-top card-header--2 px-0 pt-0">
                                    <div class="card-header-title">
                                        <h4>New Users </h4>
                                    </div>
                                </div>

                                <div class="card-body p-0">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="best-selling-table w-image
                                            w-image
                                            w-image table border-0">
                                                <tbody>
                                                    <% newUsers.forEach(user => { %>
                                                    <tr>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Name</h6>
                                                                <h5><%= user.name %></h5>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Phone</h6>
                                                                <h5>₹<%= user.phone %></h5>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Email</h6>
                                                                <h5><%= user.email %></h5>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Date join</h6>
                                                                <h5> <%= user.createdAt.toDateString() %></h5>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  New users Product End -->

                        <!-- Recently added  Start -->
                        <div class="col-xl-6 col-md-12">
                            <div class="card o-hidden card-hover">
                                <div class="card-header card-header-top card-header--2 px-0 pt-0">
                                    <div class="card-header-title">
                                        <h4>Recently added </h4>
                                    </div>
                                </div>

                                <div class="card-body p-0">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="best-selling-table w-image
                                            w-image
                                            w-image table border-0">
                                                <tbody>
                                                    <% recentProducts.forEach(product => { %>
                                                     
                                                    <tr>
                                                        <td>
                                                            <div class="best-product-box">
                                                                <span class="order-image">
                                                                    <img height="60px" width="60px" src="/images/<%= product.images[0]%>"
                                                                        class="img-fluid" alt="users">
                                                                </span>
                                                                <h5>:</h5>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Title</h6>
                                                                <h5><%= product.title %></h5>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Status</h6>
                                                                <% if (product.stock_status ==="Available") { %>
                                                                    <h5 class="text-success"><%= product.stock_status %></h5>
                                                                <% } %>
                                                                <% if (product.stock_status ==="Not Available") { %>
                                                                        <h5 class="text-danger"><%= product.stock_status %></h5>
                                                                <% } %>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Price</h6>
                                                                <h5>₹<%= product.sales_price %></h5>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Stock left</h6>
                                                                <h5><%= product.quantity %></h5>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Type</h6>
                                                                <h5><%= product.product_type %></h5>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Size</h6>
                                                                <h5><%= product.size %></h5>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  Recently Product End -->

                        <!-- Recent orders start-->
                        <div class="col-xl-6">
                            <div class="card o-hidden card-hover">
                                <div class="card-header card-header-top card-header--2 px-0 pt-0">
                                    <div class="card-header-title">
                                        <h4>Recent Orders</h4>
                                    </div>

                                </div>

                                <div class="card-body p-0">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="best-selling-table table border-0">
                                                <tbody>
                                                    <% recentOrders.forEach(order => { %>
                                                    <tr>
                                                        <td>
                                                            <div class="best-product-box">
                                                                <a class="d-block">
                                                                    <span class="order-image">
                                                                        <img height="60px" width="60px" src="/images/<%= order.products[0].productId.images[0]%>"
                                                                            class="img-fluid" alt="users">
                                                                    </span>
                                                                    </a>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Date Placed</h6>
                                                                <h5><%=  String(order.createdAt).slice(4, 16) %></h5>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Price</h6>
                                                                <h5>₹<%= order.totalAmount %></h5>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Order Status</h6>
                                                                <% if (order.orderStatus ==="PLACED") { %>
                                                                    <h5 class="text-success">Placed</h5>
                                                                <% } %>
                                                                <% if (order.orderStatus ==="PENDING") { %>
                                                                    <h5 class="text-danger">Pending</h5>
                                                                <% } %>
                                                                <% if (order.orderStatus ==="CANCELLED") { %>
                                                                    <h5 class="text-danger">Cancelled</h5>
                                                                <% } %>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="product-detail-box">
                                                                <h6>Payment</h6>
                                                                <% if (order.paymentStatus ==="RECEIVED") { %>
                                                                    <h5 class="text-success">Paid</h5>
                                                                <% } %>
                                                                <% if (order.paymentStatus ==="PENDING") { %>
                                                                    <h5 class="text-danger">Unpaid</h5>
                                                                <% } %>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Recent orders end-->










                    </div>
                </div>
                <!-- Container-fluid Ends-->

            </div>
            <!-- index body end -->

        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        //line
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart;

    async function fetchMonthlyData() {
      try {
        const response = await fetch('/admin/monthly-report'); // Replace with your actual endpoint
        const data = await response.json();
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        // Initialize arrays for revenue and order count data for all months
        const allMonthsRevenue = Array.from({ length: 12 }, () => 0);
        const allMonthsOrderCount = Array.from({ length: 12 }, () => 0);
        const allMonthsproductCountData = Array.from({ length: 12 }, () => 0);

        // Update data arrays with fetched data
        data.labels.forEach((label, index) => {
          const monthIndex = months.indexOf(label);
          if (monthIndex !== -1) {
            allMonthsRevenue[monthIndex] = data.revenueData[index];
            allMonthsOrderCount[monthIndex] = data.orderCountData[index];
            allMonthsproductCountData[monthIndex] = data.productCountData[index];
          }
        });


        const element = document.getElementById('revenue')
        const revenue = data.revenueData[0]
        element.textContent = revenue

        const element1 = document.getElementById('ordercount')
        const ordercount = data.orderCountData[0]
        element1.textContent = ordercount

        const element2 = document.getElementById('productsales')
        const productsaled = data.productCountData[0]
        element2.textContent = productsaled



        myLineChart = new Chart(ctxL, {
          type: 'line',
          data: {
            labels: months,
            datasets: [{                                      
              label: "Total Revenue",
              data: allMonthsRevenue,
              backgroundColor: 'rgba(0, 137, 132, .2)',
              borderColor: '#198754',
              borderWidth: 2
            },
            {
              label: "Order Count",
              data: allMonthsOrderCount,
              backgroundColor: 'rgb(242,111,88)',
              borderColor: 'rgba(0, 10, 130, .7',
              borderWidth: 2
            },
            {
              label: "Product Count",
              data: allMonthsproductCountData,
              backgroundColor: 'rgb(144,151,209)',
              borderColor: 'rgba(0, 10, 130, .7)',
              borderWidth: 2
            }]
          },
          options: {
            responsive: true
          }
        });
      } catch (error) {
        console.error(error);
      }
    }

    fetchMonthlyData();
    </script>