<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include('../partials/header') %>

            <!-- Page Body start -->
            <div class="page-body-wrapper">
                <%- include('../partials/sidebar') %>


                    <div class="page-body">

                        <!-- New Product Add Start -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-sm-8 m-auto">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-header-2">
                                                        <h5>Edit Category</h5>
                                                    </div>

                                                    <form class="theme-form theme-form-2 mega-form"
                                                        action="/admin/categories/edit/<%= category._id %>"
                                                        enctype="multipart/form-data" role="form" method="post">
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Category
                                                                Name</label>
                                                            <div class="col-sm-9">
                                                                <input required class="form-control" name="name" type="text"
                                                                    value="<%= category.name %>">
                                                            </div>
                                                        </div>

                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-sm-3 col-form-label form-label-title">Category
                                                                Image</label>

                                                            <div class="form-group col-sm-9">
                                                                <img src="/images/<%= category.image %>" alt="" style="width:100px; height:auto" class="p-2"  id="imageItem">
                                                                    <input  name="image" type="file" class="form-control">
                                                            </div>

                                                        </div>

                                                        <div class="col-xxl-4">
                                                            <button type="submit"
                                                                class="btn text-white theme-bg-color">Add
                                                                Category</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- New Product Add End -->

                        <!-- footer Start -->
                        <div class="container-fluid">
                            <footer class="footer">
                                <div class="row">
                                    <div class="col-md-12 footer-copyright text-center">
                                        <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <!-- footer En -->
                    </div>
                    <!-- Container-fluid End -->
            </div>
            <!-- Page Body End -->
    </div>
    <!-- page-wrapper End -->

    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

</body>