    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include('../partials/header') %>
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <%- include('../partials/sidebar') %>

            <!-- Order section Start -->
            <div class="page-body">
                <!-- Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Order List</h5>
                                    </div>
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table all-package order-table theme-table" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th>Order Image</th>
                                                        <th>Date</th>
                                                        <th>Payment Method</th>
                                                        <th>Delivery Status</th>
                                                        <th>Amount</th>
                                                        <th>Option</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                <%for(let i=0;i<orders.length;i++) {%>
                                                    <tr data-bs-toggle="offcanvas" href="#order-details">
                                                        <td>
                                                            <a class="d-block">
                                                                <span class="order-image">
                                                                    <img src="/images/<%= allOrders[i].products[0].productId.images[0]%>"
                                                                        class="img-fluid" alt="users">
                                                                </span>
                                                                </a>
                                                        </td>


                                                        <td>
                                                            <%= String(orders[i].createdAt).slice(4, 16) %>
                                                        </td>
                                                        <td>
                                                            <%= orders[i].paymentDetails %>
                                                        </td>

                                                        <% if (orders[i].orderStatus==='SUCCESS') { %>
                                                            <td style="padding-left: 150px;">
                                                                <a href="/admin/change-status/<%= orders[i]._id %>">
                                                                    <button  type="button" class="btn btn-outline-primary">Success</button>
                        
                                                                </a>
                                                            </td>
                                                        <% } %>
                                                        <% if (orders[i].orderStatus==='PENDING') { %>
                                                            <td style="padding-left: 150px;">
                                                                <a href="/admin/change-status/<%= orders[i]._id %>">
                                                                    <button  type="button" class="btn btn-outline-danger btn">Pending</button>
                        
                                                                </a>
                                                            </td>
                                                        <% } %>
                                                        <% if (orders[i].orderStatus==='CANCELLED') { %>
                                                            <td style="padding-left: 150px;">
                                                                <a href="/admin/change-status/<%= orders[i]._id %>">
                                                                    <button  type="button" class="btn btn-outline-secondary">Cancelled</button>
                        
                                                                </a>
                                                            </td>
                                                        <% } %>
                                                        

                                                        <td>₹<%= orders[i].totalAmount %></td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a class="align-items-center btn-sm btn-secondary d-flex" href="/admin/admin-order-cancel/<%=orders[i]._id%>">
                                                                        Cancel
                                                                    </a>
                                                                    
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                <% } %>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table End -->

            </div>
            <!-- Order section End -->
        </div>
        <!-- Page Body End-->
    </div>
    <!-- page-wrapper End -->