    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include('../partials/header') %>
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <%- include('../partials/sidebar') %>

            <!-- Order section Start -->
            <div class="page-body">
                <!-- Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Order List</h5>
                                        <div class="d-flex">
                                            <div >
                                                <select class="form-select" onchange="location.href='/admin/orders?paymentMethod=' + this.value">

                                                    <%if(paymentMethod=='Razorpay'){%>
                                                        <option >All</option>
                                                        <option selected>Razorpay</option>
                                                        <option>Wallet</option>
                                                        <option>COD</option>
                                                    <%}else if(paymentMethod=='COD' ){%>
                                                        <option>All</option>
                                                        <option>Razorpay</option>
                                                        <option>Wallet</option>
                                                        <option selected>COD</option>
                                                    <%}else if(paymentMethod=='Wallet' ){%>
                                                        <option>All</option>
                                                        <option>Razorpay</option>
                                                        <option selected>Wallet</option>
                                                        <option>COD</option>
                                                    <%}else{%>
                                                        <option selected>All</option>
                                                        <option>Razorpay</option>
                                                        <option >Wallet</option>
                                                        <option>COD</option>
                                                    <%}%>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table all-package order-table theme-table" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th>Order Image</th>
                                                        <th>Date</th>
                                                        <th>Payment Method</th>
                                                        <th>Payment Status</th>

                                                        <th>Delivery Status</th>
                                                        <th>Amount</th>
                                                        <th>Option</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                <%for(let i=0;i<allOrders.length;i++) {%>
                                                    <tr data-bs-toggle="offcanvas" href="#order-details">
                                                        <td>
                                                            <a class="d-block">
                                                                <span class="order-image">
                                                                    <img src="/images/<%= allOrders[i].products[0].productId.images[0]%>"
                                                                        class="img-fluid" alt="users">
                                                                </span>
                                                                </a>
                                                        </td>


                                                        <td>
                                                            <%= String(allOrders[i].createdAt).slice(4, 16) %>
                                                        </td>
                                                        <td>
                                                            <% if (allOrders[i].paymentDetails === "COD") { %>
                                                                <p style="color:rgba(255, 136, 0, 0.977);">
                                                             Cash on delivery
                                                             </p>
                                                            <% } %>
                                                            <% if (allOrders[i].paymentDetails === "razorpay") { %>
                                                                <p style="color:rgba(0, 149, 255, 0.977);">Razorpay</p>
                                                               <% } %>
                                                            <% if (allOrders[i].paymentDetails==="wallet" ) { %>
                                                                <p style="color:rgb(0, 255, 34);">Wallet</p>
                                                                <% } %>
                                                        </td>

                                                        <% if (allOrders[i].paymentStatus==='RECEIVED') { %>
                                                            <td style="padding-left: 90px;">
                                                                    <button  type="button" class="btn btn-outline-primary">Recieved</button>
                                                            </td>
                                                        <% } %>
                                                        <% if (allOrders[i].paymentStatus==='PENDING') { %>
                                                            <td style="padding-left: 90px;">
                                                                    <button  type="button" class="btn btn-outline-danger btn">Not received</button>
                    
                                                            </td>
                                                        <% } %>






                                                        <% if (allOrders[i].orderStatus==='PENDING' ) { %>
                                                            <td style="padding-left: 90px;">
                                                                <a href="/admin/change-status/<%= allOrders[i]._id %>">
                                                                    <button type="button" class="btn btn-outline-danger btn">Pending</button>
                                                        
                                                                </a>
                                                            </td>
                                                            <% } %>
                                                        <% if (allOrders[i].orderStatus==='PLACED') { %>
                                                            <td style="padding-left: 90px;">
                                                                <a href="/admin/change-status/<%= allOrders[i]._id %>">
                                                                    <button  type="button" class="btn btn-outline-primary">Placed</button>
                        
                                                                </a>
                                                            </td>
                                                        <% } %>
                                                        <% if (allOrders[i].orderStatus==='SHIPPED' ) { %>
                                                            <td style="padding-left: 90px;">
                                                                <a href="/admin/change-status/<%= allOrders[i]._id %>">
                                                                    <button type="button" class="btn btn-outline-success">Shipped</button>
                                                        
                                                                </a>
                                                            </td>
                                                            <% } %>
                                                        <% if (allOrders[i].orderStatus==='OUT OF DELIVERY' ) { %>
                                                            <td style="padding-left: 90px;">
                                                                <a href="/admin/change-status/<%= allOrders[i]._id %>">
                                                                    <button type="button" class="btn btn-outline-dark">Out of Delivery</button>
                                                        
                                                                </a>
                                                            </td>
                                                            <% } %>
                                                        <% if (allOrders[i].orderStatus==='DELIVERED') { %>
                                                            <td style="padding-left: 90px;">
                                                                <a href="/admin/change-status/<%= allOrders[i]._id %>">
                                                                    <button  type="button" class="btn btn-outline-primary">Delivered</button>
                        
                                                                </a>
                                                            </td>
                                                        <% } %>
                                                        <% if (allOrders[i].orderStatus==='CANCELLED' ) { %>
                                                            <td style="padding-left: 90px;">
                                                                <a href="/admin/change-status/<%= allOrders[i]._id %>">
                                                                    <button type="button" class="btn btn-outline-secondary">Cancelled</button>
                                                        
                                                                </a>
                                                            </td>
                                                            <% } %>
                                                        

                                                        <td>₹<%= allOrders[i].totalAmount %> </td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <% if (allOrders[i].orderStatus==='CANCELLED' ) { %>
                                                                        <button disabled class="align-items-center btn-sm btn-white d-flex " >
                                                                            Cancel
                                                                        </button>

                                                                    <% } else { %>
                                                                        <a class="align-items-center btn-sm btn-secondary d-flex " data-bs-toggle="modal"
                                                                            data-bs-target="#exampleModalToggle<%= allOrders[i]._id %>" href="javascript:void(0)">
                                                                            Cancel
                                                                        </a>

                                                                    <% } %>


                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                                                                                    <!-- Delete Modal Box Start -->
                                                                                                                    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle<%=allOrders[i]._id%>" aria-hidden="true"
                                                                                                                        tabindex="-1">
                                                                                                                        <div class="modal-dialog modal-dialog-centered">
                                                                                                                            <div class="modal-content">
                                                                                                                                <div class="modal-header d-block text-center">
                                                                                                                                    <h5 class="modal-title w-100" id="exampleModalLabel22">Do you want to cancel this order?</h5>
                                                                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                                                                        <i class="fas fa-times"></i>
                                                                                                                                    </button>
                                                                                                                                </div>
                                                                                                                                <div class="modal-body">
                                                                                                                                    <div class="remove-box">
                                                                                                                                        <p>This will cancel the order from a customer.
                                                                                                                                        </p>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                                <div class="modal-footer">
                                                                                                                                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                                                                                                                                    <button type="button" class="btn btn-animation btn-md fw-bold"
                                                                                                                                        data-bs-target="#exampleModalToggle2<%=allOrders[i]._id%>" data-bs-toggle="modal"
                                                                                                                                        data-bs-dismiss="modal">Yes</button>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    
                                                                                                                    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2<%=allOrders[i]._id%>" aria-hidden="true"
                                                                                                                        tabindex="-1">
                                                                                                                        <div class="modal-dialog modal-dialog-centered">
                                                                                                                            <div class="modal-content">
                                                                                                                                <div class="modal-header">
                                                                                                                                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                                                                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                                                                                        <i class="fas fa-times"></i>
                                                                                                                                    </button>
                                                                                                                                </div>
                                                                                                                                <div class="modal-body">
                                                                                                                                    <div class="remove-box text-center">
                                                                                                                                        <div class="wrapper">
                                                                                                                                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                                                                                                                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                                                                                                                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                                                                                                                            </svg>
                                                                                                                                        </div>
                                                                                                                                        <h4 class="text-content">Order Cancelled Successfully.</h4>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                                <div class="modal-footer">
                                                                                                                    
                                                                                                                                    <a href="/admin/admin-order-cancel/<%=allOrders[i]._id%>">
                                                                                                                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                                                                                                                                            data-bs-dismiss="modal">Close</button></a>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <!-- Delete Modal Box End -->
                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation example">
                                <% totalPage = Math.ceil(count/7) %>
                                <ul class="pagination" style="align-items: center; justify-content: center;">
                                    <li class="page-item"><a class="page-link"  data-paymentMethod="<%= paymentMethod %>" data-totalPage="<%= totalPage %>" data-cpage="<%= page %>" href="#">Previous</a></li>
                                    <% for( let i = 1; i <=totalPage ; i++ ) { %>
                                        <li class="page-item">
                                            <!-- Use data-page attribute to store the page number -->
                                            <a class="page-link" href="#"  data-paymentMethod="<%= paymentMethod %>" data-page="<%= i %>"><%= i%></a>
                                        </li>
                                    <% } %>
                                    <li class="page-item"><a class="page-link" data-paymentMethod="<%= paymentMethod %>" data-totalPage="<% totalPage %>" data-cpage="<%= page %>" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Table End -->

            </div>
            <!-- Order section End -->
        </div>
        <!-- Page Body End-->
    </div>
    <!-- page-wrapper End -->

    <style>
        .page-link{
           color: #0da487; 
        }
        .pagination .page-item.active .page-link {
            background-color: #0da487;
            border-color:#0da487;
            color: white;
        }

        .pagination .page-item .page-link:hover {
            background-color: #0da487;
            border-color: #0da487;
            color: white;
        }
    </style>
    <script>
        // Get all the page links
        var pageLinks = document.querySelectorAll('.pagination .page-item .page-link');

        // Get the Previous and Next buttons
        var prevButton = document.querySelector('.pagination li:first-child .page-link');
        var nextButton = document.querySelector('.pagination li:last-child .page-link');

        // Attach a click event listener to each page link
        pageLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                // Prevent the default behavior of the link
                event.preventDefault();

                // Remove 'active' class from all page items
                pageLinks.forEach(function(link) {
                    link.parentElement.classList.remove('active');
                });

                // Add 'active' class to the clicked page item
                link.parentElement.classList.add('active');

                // Get the page number from the data-page attribute
                var pageNumber = link.getAttribute('data-page');
                var paymentMethod = link.getAttribute('data-paymentMethod');

                // Redirect to the new URL with the activated page number
            window.location.href = `/admin/orders?paymentMethod=${paymentMethod}&page=${pageNumber}`;
            });
        });

        // Attach a click event listener to the Previous button
        prevButton.addEventListener('click', function(event) {
            event.preventDefault();
            
            // Calculate the previous page number based on the current active page
            var currentPage = document.querySelector('.pagination .page-item .page-link');
            var cpageNumber = parseInt(currentPage.getAttribute('data-cpage'));
             var paymentMethod = currentPage.getAttribute('data-paymentMethod');

            console.log(cpageNumber);
            if (cpageNumber > 1) {
                // Redirect to the previous page
                window.location.href = `/admin/orders?paymentMethod=${paymentMethod}&page=${cpageNumber - 1}`;
            }else{
                window.location.href = `/admin/orders?paymentMethod=${paymentMethod}&page=${cpageNumber}`;
            }
        });

        // Attach a click event listener to the Next button
        nextButton.addEventListener('click', function(event) {
            event.preventDefault();
            
            // Calculate the next page number based on the current active page
            var currentPage = document.querySelector('.pagination .page-item .page-link');
            var cpageNumber = parseInt(currentPage.getAttribute('data-cpage'));
            var totalPages = parseInt(currentPage.getAttribute('data-totalPage'));
                    var paymentMethod = currentPage.getAttribute('data-paymentMethod');
            console.log(totalPages);
            if (cpageNumber < totalPages) {
                // Redirect to the next page
            window.location.href = `/admin/orders?paymentMethod=${paymentMethod}&page=${cpageNumber + 1}`;
            }else{
                window.location.href = `/admin/orders?paymentMethod=${paymentMethod}&page=${cpageNumber}`;

            }
        });
    </script>