<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <%- include('../partials/header') %>
        <!-- Page Header Ends-->

        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <%- include('../partials/sidebar') %>
            <!-- Page Sidebar Ends-->

            <!-- Reports Section Start -->
            <div class="page-body">
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">
                        <!-- Booking history start-->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-0 pb-1">
                                    <div class="card-header-title">
                                        <h4>Sales Report</h4>
                                    </div>
                                    <div class="col-lg-2 col-6 col-md-3 ms-auto">
                                        <select class="form-select" onchange="location.href='/admin/sales-report?report=' + this.value">
                                            <%if(reportOrder=='daily'){%>
                                            <option selected>daily</option>
                                            <option>monthly</option>
                                            <option> yearly</option>
                                            <%}else if(reportOrder == 'monthly'){%>
                                                <option>daily</option>
                                            <option selected>monthly</option>
                                            <option>yearly</option>
                                            <%}else{%>
                                                <option>daily</option>
                                            <option>monthly</option>
                                            <option selected>yearly</option>
                                            <%}%>
                                        </select>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="user-table list-table table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th> Order ID</th>
                                                        <th scope="col">Customer Name</th>
                                                        <th scope="col">Payment Method</th>
                                                        <th scope="col">Payment Method</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col" > Total Price </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%for(i=0;i<order.length;i++){%>
                                                        <tr>
                                                            <td><%=i+1%></td>
                                                            <td><%=order[i]._id%></td>
                                                            <td><b><%=order[i].shippingAddress.name%></b></td>
                                                            <td><%=order[i].paymentDetails%></td>
                                                            <td><%=order[i].paymentStatus%></td>
                                                            <td>
                                                                <%if(order[i].orderStatus=='PENDING'){%>
                                                                    <span class="badge rounded-pill alert-warning">Pending</span>
                                                                <%}else if(order[i].orderStatus == 'SUCCESS'){%>
                                                                    <span class="badge rounded-pill alert-success">Success</span> 
                                                                <%}else if(order[i].orderStatus == 'CANCELLED'){%>
                                                                    <span class="badge rounded-pill alert-success">Cancelled</span> 
                                                                <%}else{%>
                                                                    <span class="badge rounded-pill alert-danger">Delivered</span> 
                                                                <%}%>
                                                            </td>
                                                            <td style="padding-left: 70px;" >₹<%=order[i].totalAmount%></td>
                                                        </tr>
                                                        <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Booking history  end-->
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
            <!-- Reports Section End -->
        </div>
        <!-- Page Body End-->
    </div>
    <!-- page-wrapper End-->


</body>