<link rel="stylesheet" href="/assets3/css/maind134.css?v=3.4">

<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="/">Home </a></li>
            <li> <a href="/account">Account</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link " id="dashboard-tab"  href="/account" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id="account-detail-tab" href="/account/account-details" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" href="/account/add-address" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Add Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab"  href="/account/manage-address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>Manage Address</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link active" id="orders-tab" href="/account/orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout"><i class="frs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content dashboard-content">

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <% if (!orders.length) { %>
                                            <img src="https://media.istockphoto.com/id/861576608/vector/empty-shopping-bag-icon-online-business-vector-icon-template.jpg?s=612x612&w=0&k=20&c=I7MbHHcjhRH4Dy0NVpf4ZN4gn8FVDnwn99YdRW2x5k0=" alt="">
                                        <% } else { %>   
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% orderNo=-15+page*15 %>
                                                            <% for(let i=0;i<orders.length;i++) {  %>
                                                                <% orderNo++ %>
                                                            <tr>
                                                                <td><%=orderNo%></td>
                                                                <td><%= String(orders[i].createdAt).slice(4, 16) %></td>
                                                                <td><%=orders[i].orderStatus%></td>
                                                                <td>₹ <%=orders[i].totalAmount%> </td>
                                                                <td><a href="/order-details/<%=orders[i]._id%>" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <% if (orders.length) { %>
                                    <nav aria-label="Page navigation example">
                                        <% totalPage = Math.ceil(count/15) %>
                                        <ul class="pagination" style="align-items: center; justify-content: center;">
                                            <li class="page-item"><a class="page-link"  data-totalPage="<%= totalPage %>" data-cpage="<%= page %>" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg></a></li>
                                            <% for( let i = 1; i <=totalPage ; i++ ) { %>
                                                <li class="page-item">
                                                    <!-- Use data-page attribute to store the page number -->
                                                    <a class="page-link" href="#" data-page="<%= i %>"><%= i%></a>
                                                </li>
                                            <% } %>
                                            <li class="page-item"><a class="page-link" data-totalPage="<% totalPage %>" data-cpage="<%= page %>" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></a></li>
                                        </ul>
                                    </nav>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<main>
    <style>
        .pagination li a.active, .pagination li a:hover {
          background-color: #ededed;
          color: #000; 
          }
          .page-item:last-child .page-link {
            border-top-right-radius: 1cm;
          border-top-left-radius: 1cm;
          border-bottom-right-radius: 1cm;
          border-bottom-left-radius: 1cm;
      }
        .page-item:first-child .page-link {
          border-top-right-radius: 1cm;
          border-top-left-radius: 1cm;
          border-bottom-right-radius: 1cm;
          border-bottom-left-radius: 1cm;
        }
      </style>
      <script>
          // Get all the page links
          var pageLinks = document.querySelectorAll('.pagination .page-item .page-link');
      
          // Get the Previous and Next buttons
          var prevButton = document.querySelector('.pagination li:first-child .page-link');
          var nextButton = document.querySelector('.pagination li:last-child .page-link');
      
          // Attach a click event listener to each page link
          pageLinks.forEach(function(link) {
              link.addEventListener('click', function(event) {
                  // Prevent the default behavior of the link
                  event.preventDefault();
      
                  // Remove 'active' class from all page items
                  pageLinks.forEach(function(link) {
                      link.parentElement.classList.remove('active');
                  });
      
                  // Add 'active' class to the clicked page item
                  link.parentElement.classList.add('active');
      
                  // Get the page number from the data-page attribute
                  var pageNumber = link.getAttribute('data-page');
      
                  // Redirect to the new URL with the activated page number
                  window.location.href = '/account/orders?page=' + pageNumber;
              });
          });
      
          // Attach a click event listener to the Previous button
          prevButton.addEventListener('click', function(event) {
              event.preventDefault();
              
              // Calculate the previous page number based on the current active page
              var currentPage = document.querySelector('.pagination .page-item .page-link');
              var cpageNumber = parseInt(currentPage.getAttribute('data-cpage'));
              console.log(cpageNumber);
              if (cpageNumber > 1) {
                  // Redirect to the previous page
                  window.location.href = '/account/orders?page=' + (cpageNumber - 1);
              }else{
                  window.location.href = '/account/orders?page=' + cpageNumber;
              }
          });
      
          // Attach a click event listener to the Next button
          nextButton.addEventListener('click', function(event) {
              event.preventDefault();
              
              // Calculate the next page number based on the current active page
              var currentPage = document.querySelector('.pagination .page-item .page-link');
              var cpageNumber = parseInt(currentPage.getAttribute('data-cpage'));
              var totalPages = parseInt(currentPage.getAttribute('data-totalPage'));
              console.log(totalPages);
              if (cpageNumber < totalPages) {
                  // Redirect to the next page
                  window.location.href = '/account/orders?page=' + (cpageNumber + 1);
              }else{
                  window.location.href = '/account/orders?page=' + cpageNumber;
              }
          });
      </script>