<style>
    .swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 5px;
    background: white;
    font-family: inherit;
    font-size: 1rem;
}
  .swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em;
    padding: 0;
    color: black;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;

}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: black;
    color: #fff;
    font-size: 1em;
}
</style>
<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="/">Home </a></li>
            <li> <a href="/cart">Cart</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="section block-cart">
      <div class="container">
        <div class="row mt-20">
          <div class="col-lg-7">
            <div class="box-title-cart">
              <h4>Your Cart</h4>
              <h6><%= userCart.cart.length %> items</h6>
            </div>
            <!-- Cart item -->
            <% if (!userCart.cart.length) { %>
              <div  style="text-align: center;">
                <img  src="https://www.99fashionbrands.com/wp-content/uploads/2020/12/empty_cart.png" alt="">
              </div>
            <% } %>
            <% var sum = 0%>
            <% for(var i=0;i<userCart.cart.length;i++) { %>
            <div class="list-items-cart">
              <div class="item-cart">
                <div class="item-cart-image"><img src="/images/<%= userCart.cart[i].productId.images[0] %>" alt="Guza"></div>
                <div class="item-cart-info">
                  <div class="item-cart-info-1"><a class="text-16-medium" href="#"><%= userCart.cart[i].productId.title %></a>
                    <div class="box-info-size-color-product">
                      <p class="box-size"><span class="body-p2 neutral-medium-dark">Type:</span><span class="body-p2 neutral-dark"><%= userCart.cart[i].productId.product_type %></span></p>
                      <p class="box-color"><span class="body-p2 neutral-medium-dark">Price:</span><span class="body-p2 neutral-dark">₹<%= userCart.cart[i].productId.sales_price %></span></p>
                    </div>
                    <div class="box-form-cart text-center">
                      <div class="form-cart detail-qty">
                        <a href="#" onclick="changeQuantity('<%=userCart.cart[i].productId._id%>',-1,'<%= userCart.cart[i].productId.sales_price %>','subtot-<%= i %>','cartSubTotal','total','qty-<%= userCart.cart[i].productId._id %>')" >
                          <span class="minus"></span>
                        </a>
                        <span class="qty-val form-control"  type="text" id="qty-<%= userCart.cart[i].productId._id %>"><%= userCart.cart[i].quantity %></span>
                        <a href="#"  onclick="changeQuantity('<%=userCart.cart[i].productId._id%>',1,'<%= userCart.cart[i].productId.sales_price %>','subtot-<%= i %>','cartSubTotal','total','qty-<%= userCart.cart[i].productId._id %>')" >
                          <span class="plus"></span>
                        </a>

                        <!-- <input class="qty-val form-control" type="text" name="quantity" value="1" min="1"> -->
                      </div>
                    </div>
                  </div>
                  <div class="item-cart-info-2">
                    
                    <p>₹</p>
                    <p class="body-p2" id="subtot-<%= i %>"> <%= userCart.cart[i].productId.sales_price * userCart.cart[i].quantity %></p><a class="btn-remove-cart" href="/remove-cart/<%=userCart.cart[i].productId._id%>"></a>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

            <!-- Cart item -->
            <% if (userCart.cart.length) { %>
              <div class="box-coupon">
                <div class="coupon-left">
                  <input class="form-control input-coupon" type="text" placeholder="Coupon code">
                  <button class="btn btn-border">Apply</button>
                </div>
              </div>
             <% } %>

          </div>
          <div class="col-lg-5">
            <div class="box-detail-cart">
              <h4 class="mb-25">Order Summary</h4>
              <div class="box-info-cart">
                <div class="d-flex align-items-center justify-content-between box-border-bottom">
                  <h5 class="neutral-medium-dark">Subtotal</h5>
                    <h5>₹</h5>
                    <h5 class="neutral-dark" id="grandTotal"><%=grandTotal%></h5>

                </div>
                <div class="box-info-cart-inner">
                  <p class="text-17-medium text-uppercase mb-15">Shipping</p>
                  <div class="list-radio">
                    <div class="item-radio">
                      <label>
                        <input type="radio" name="shipping" checked="checked">Flat rate: $50.00
                      </label><span class="price-ship">$50.00</span>
                    </div>
                    <div class="item-radio">
                      <label>
                        <input type="radio" name="shipping">Local pickup: $60.00
                      </label>
                    </div>
                  </div>
                  <p class="body-p2 neutral-medium-dark mb-12">Shipping options will be updated during checkout.</p><a class="text-17 calculate-shipping" href="#">Calculate shipping</a>
                </div>
                <div class="d-flex align-items-center justify-content-between box-total-bottom">
                  <h5 class="neutral-medium-dark">Total</h5>
                  <h5 class="neutral-dark" id="total">₹ <%= grandTotal %></h5>
                </div>
                <% if(userCart.cart.length) { %>
                  <div class="box-button-cart"><a href="/checkout" class="btn btn-black">Proceed To Checkout</a></div>
                  <%} else{ %> 
                    <div class="box-button-cart"><a onclick="cartEmpty()" class="btn btn-black">Proceed To Checkout</a></div>
                  <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  <script>
    function cartEmpty() {

        Swal.fire(
        'Oops!, Cart is Empty',
        'Add items to your cart before checking out!'
        )
    }
</script>
  <script>
    function changeQuantity(productId,count,price,subTotal,cartSubTotal,total,quantity){
      console.log(productId);
      console.log(count);
      console.log(price);
      console.log(subTotal);
      console.log(cartSubTotal);
      console.log(total);
      console.log(quantity);
        const subtotalValue = document.getElementById(subTotal).innerHTML
        const grandTotalValue = document.getElementById('grandTotal').innerHTML
        const quantityValue = document.getElementById(quantity).innerHTML
        let totalValue = parseInt(subtotalValue)
        console.log('----');
        console.log('subtotalValue:'+subtotalValue);
        console.log(typeof(subtotalValue));
        console.log('grandTotalValue:'+grandTotalValue);
        console.log('quantityValue:'+quantityValue);
        console.log('totalValue:'+totalValue);
        console.log('----');
       
        console.log(quantityValue,count);
        if(quantityValue == 1 && count == -1){
            return;
        }
        console.log('ajax');
        $.ajax({ 
         url:'/change-quantity',
         method: 'post',
         data:{
             productId,
             count
         },
        })
        
        if(count === 1){
            document.getElementById(subTotal).innerHTML = parseInt(price)+totalValue
            document.getElementById('grandTotal').innerHTML = parseInt(price)+parseInt(grandTotalValue);
            document.getElementById('total').innerHTML = parseInt(price)+parseInt(grandTotalValue);
            document.getElementById(quantity).innerHTML = parseInt(quantityValue)+1;
            console.log('+');

        }else if(count === -1){
            document.getElementById(subTotal).innerHTML = totalValue-parseInt(price)
            document.getElementById('grandTotal').innerHTML = parseInt(grandTotalValue)-parseInt(price);
            document.getElementById('total').innerHTML = parseInt(grandTotalValue)-parseInt(price);
            document.getElementById(quantity).innerHTML = parseInt(quantityValue)-1;
            console.log('-');

        }
    
              
    }
  </script>