<main class="main">
    <div class="section block-breadcrumb">
      <div class="container"> 
        <div class="breadcrumbs"> 
          <ul> 
            <li> <a href="#">Home </a></li>
            <li> <a href="#">Checkout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="section block-cart">
      <div class="container mb-100 mt-60">
        <form class= "payment-form" action="/place-order" method="post">
          <div class="row mt-20"> 
            <div class="col-lg-6">
              <div class="col-md-12">
                <div class="mb-25">
                    <h4>Shipping Address</h4>
                </div>
                <div class="row mt-20">
                  <h6>Pick an address:</h6>
                  <% if (!user.address.length) { %>
                    <div class="col-md-12">
                      <div class="card mb-3">
                          <div class="card-header">
                              <label class="form-check-label">
                                <a href="/account/add-address">
                                  <h6 class="mb-0">Add address here </h6>
                                </a>
                              </label>
                          </div>
                      </div>
                  </div>
                  <% } %>
                  <% for (let i = 0; i < user.address.length; i++) { %>
                  <div class="col-md-12">
                      <div class="card mb-3">
                          <div class="card-header">
                              <input class="form-check-input" value="<%= user.address[i]._id %>" type="radio" name="address" id="address<%= i %>" <% if (i==0) { %>  checked="" <% } %>>
                              <label class="form-check-label" for="address<%= i %>">
                                  <h5 class="mb-0">Address <%= i + 1 %></h5>
                              </label>
                          </div>
                          <div class="card-body">
                              <address>
                                
                                <p class="text-17-medium">
                                  Name:
                                  <%= user.address[i].name %><br>
                                </p>
                                <p class="text-17-medium">
                                  Phone number:
                                  <%= user.address[i].mobile %><br>
                                </p>
                                <p class="text-17-medium">
                                  State:
                                  <%= user.address[i].state %><br>
                                </p>
                                <p class="text-17-medium">
                                  District:
                                  <%= user.address[i].district %><br>
                                </p>
                                <p class="text-17-medium">
                                  City:
                                  <%= user.address[i].city %><br>
                                </p>
                                <p class="text-17-medium">
                                  PIN:
                                  <%= user.address[i].pin %><br>
                                </p>
                                <p class="text-17-medium">
                                  Address:
                                  <%= user.address[i].address %>
                                </p>
                              </address>
                          </div>
                      </div>
                  </div>
                  <% } %>
              </div>
              
            </div>
             
            </div>
            <div class="col-lg-6">
              <div class="box-detail-cart">
                <h4 class="mb-25">Your Order</h4>
                <div class="box-info-cart"> 
                  <p class="text-17-medium text-uppercase">Product</p>
                  <div class="box-info-checkout-inner">
                    <% i=0 %>
                    <%var sum=0%>
                    <% userCart.cart.forEach(product => { %>
                      <div class="list-items-cart"> 
                        <div class="item-cart"> 
                          <div class="item-cart-image"> <img src="/images/<%= userCart.cart[i].productId.images[0] %>" alt="Guza"></div>
                          <div class="item-cart-info">
                            <div class="item-cart-info-1">
                               <a class="text-17-medium" href="#"><%= product.productId.title %></a>
                              <p class="box-color"><span class="body-p2 neutral-medium-dark">Quantity: </span><span class="body-p2 neutral-dark"><%= product.quantity %> </span></p>
                            </div>
                            <div class="item-cart-info-2"> 
                              <p class="body-p2">Subtotal:</p>
                              <p class="body-p2">₹<%= product.productId.sales_price* product.quantity  %></p>
                              <%sum += userCart.cart[i].productId.sales_price * userCart.cart[i].quantity%>
                              <input type="hidden" name="productId" value="<%=userCart.cart[i].productId._id%>">
                              <input type="hidden" name="salePrice" value="<%=userCart.cart[i].productId.sales_price%>">
                              <input type="hidden" name="quantity" value="<%=userCart.cart[i].quantity%>">
                            </div>
                          </div>
                        </div>
                      </div>
                      <% i++ %>
                    <% }) %>

                  </div>


                  <div class="d-flex align-items-center justify-content-between box-border-bottom">
                    <h5 class="neutral-medium-dark">Total</h5>
                    <h5 class="color-9">₹<%=sum%></h5>
                    <input type="hidden" name="total" value="<%=sum%> ">
                  </div>
                  <div class="box-payment-method"> 
                    <p class="text-17-medium text-uppercase mb-15 neutral-medium-dark">Shipping</p>
                    <div class="list-radio"> 

                      <div class="item-radio">
                        <label>
                          <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" value="COD" checked="">
                          Cash on delivery
                        </label>
                      </div>
                      <div class="item-radio">
                        <label>
                          <input class="form-check-input" required="" type="radio" name="payment_option" value="razorpay" id="exampleRadios3" disabled>
                          Razorpay
                        </label>
                      </div>
                    </div>
                  </div>
                  <% if (!user.address.length) { %>
                    <button class="btn btn-black" id="place-order-button" type="submit" disabled > Place Order</button></div>
                    <% } else { %>
                      <button class="btn btn-black" id="place-order-button" type="submit" > Place Order</button></div>
                  <% } %>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  <script>
