<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets4/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets4/css/main.css?v=3.4">
</head>

<body>
    <div class="section block-breadcrumb">
        <div class="container"> 
          <div class="breadcrumbs"> 
            <ul> 
              <li> <a href="/">Home </a></li>
              <li> <a href="/account">Account</a></li>
            </ul>
          </div>
        </div>
      </div>
    <main class="main">

        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Brand</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var sum = 0 %>
                                    <%for(let i=0;i<order.products.length;i++) {%>
                                    <tr>
                                        
                                        <td class="image product-thumbnail"><img src="/images/<%=order.products[i].productId.images[0]%>" alt="#"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="/product/<%=order.products[i].productId._id%>"><%=order.products[i].productId.title%></a></h5>
                                            <p class="font-xs"><%=order.products[i].productId.brand%></p>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span><%= order.products[i].productId.brand %></span>
                                        </td>
                                        <td class="price" data-title="Price"><span>₹<%=order.products[i].productId.sales_price%></span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="">
                                                <!-- <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a> -->
                                                <span class="qty-val"><%=order.products[i].quantity%></span>
                                                <!-- <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a> -->
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span>₹<%= order.products[i].quantity * order.products[i].productId.sales_price %></span>
                                            <%sum = sum + order.products[i].quantity * order.products[i].productId.sales_price %>
                                        </td>

                                    </tr>
                                    <%}%>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a href="/" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                           
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">₹<%=sum%></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">₹<%=sum%></span></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="/order-cancel/<%=order._id%>" class="btn "></i>Cancel Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Vendor JS-->
    <script src="/assets4/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets4/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets4/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets4/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets4/js/plugins/slick.js"></script>
    <script src="/assets4/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets4/js/plugins/wow.js"></script>
    <script src="/assets4/js/plugins/jquery-ui.js"></script>
    <script src="/assets4/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets4/js/plugins/magnific-popup.js"></script>
    <script src="/assets4/js/plugins/select2.min.js"></script>
    <script src="/assets4/js/plugins/waypoints.js"></script>
    <script src="/assets4/js/plugins/counterup.js"></script>
    <script src="/assets4/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets4/js/plugins/images-loaded.js"></script>
    <script src="/assets4/js/plugins/isotope.js"></script>
    <script src="/assets4/js/plugins/scrollup.js"></script>
    <script src="/assets4/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/assets4/js/main.js?v=3.4"></script>
    <script src="/assets4/js/shop.js?v=3.4"></script>
</body>

</html>