<body>
  <main class="main">
    <div class="section block-breadcrumb">
      <div class="container">
        <div class="breadcrumbs">
          <ul>
            <li> <a href="/">Home </a></li>
            <li> <a href="/shop">Shop</a></li>
            <li> <a href="#">
                <%= product.category.name %>
              </a></li>
            <li> <a href="#">
                <%= product.title %>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="section block-product-single">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">

            <div class="detail-gallery">
              <div class="slider-nav-thumbnails slider-nav-thumbnails-1">
                <% for( let i=0; i < product.images.length; i++ ) { %>
                  <div>
                    <div class="item-thumb"><img src="/images/<%= product.images[i] %>" alt="kidify"></div>
                  </div>
                  <% } %>

              </div>
              <div class="box-main-gallery">
                <div class="product-image-slider product-image-slider-1">
                  <% for( let i=0; i < product.images.length; i++ ) { %>
                    <figure class="border-radius-10">
                      <a class="glightbox" href="/images/<%= product.images[i] %>">
                        <div class="magnify">
                          <div class="large" style="background: url('/images/<%= product.images[i] %>') no-repeat;">
                          </div>
                          <img class="small" src="/images/<%= product.images[i] %>" width="500" />
                        </div>
                      </a>
                    </figure>
                    <% } %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box-product-info">
              <h3 class="mb-5">
                <%= product.title %>
              </h3>
              <div class="block-rating"><img src="/assets2/imgs/template/icons/star-fill.svg" alt="Guza"><img
                  src="/assets2/imgs/template/icons/star-fill.svg" alt="Guza"><img
                  src="/assets2/imgs/template/icons/star-fill.svg" alt="Guza"><img
                  src="/assets2/imgs/template/icons/star-fill.svg" alt="Guza"><img
                  src="/assets2/imgs/template/icons/star-none.svg" alt="Guza"><span
                  class="text-17 neutral-medium-dark">(5)</span></div>
              <div class="block-price"><span class="price-main">₹<%= product.sales_price%> </span><span
                  class="price-line">₹<%= product.regular_price %></span></div>
              <div class="block-description">
                <p class="body-p2 neutral-medium-dark">
                  <%= product.description %>
                </p>
              </div>
              <div class="block-color"><span>Brand:</span>
                <label>
                  <%= product.brand %>
                </label>
              </div>
              <div class="block-size"><span>Size:</span>
                <label>S</label>
              </div>
              <div class="text-17 neutral-medium-dark mb-10">Stock:<%= product.quantity%>
              </div>
            </div>
            <% if (product.quantity<1) { %>
              <div class="text-17 neutral-medium-dark mb-10" style="color: red;">This product is currently out of stock
              </div>
            <% } else if (!product.is_Listed) { %>
              <div class="text-17 neutral-medium-dark mb-10" style="color: red;">Currently Unavailable
              </div>
            <% } else { %>
            <div class="block-quantity">
              <form action="/add-to-cart" method="post">
            
                <div class="box-form-cart">
                  <div class="form-cart detail-qty">
                    <span class="minus"></span>
                    <input readonly class="qty-val form-control" type="text" name="quantity" value="1" min="1"
                      max="<%= product.quantity%>" />
                    <span class="plus"></span>
                  </div>
            
                  <input type="hidden" name="productId" value="<%=product._id%>">
                  <button type="submit" class="btn btn-black">Add to Cart</button>
                  <% if (locals.user) { %>
                    <a href="#" onclick="addToWishlist('<%=product._id%>')" class="btn-wishlist">
                      <svg id="wishlist-icon" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                        <% if (itemExists) { %>
                          <path
                            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                          <% } else { %>
                            <path
                              d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z" />
                            <% } %>
                      </svg>
                    </a>
                    <% } %>
            
              </form>
            
            </div>
            <% } %>

          </div>
            <% if (product.quantity>1) { %>
          <div class="block-shipping">
            <div class="free-shipping">Free shipping</div>
            <div class="time-shipping">Fast delivery</div>
          </div>
            <% } %>

        </div>

      </div>
      </div>
      <div class="box-detail-product">
        <ul class="nav-tabs nav-tab-product" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews"
              type="button" role="tab" aria-controls="reviews" aria-selected="false">Description</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="description-tab" data-bs-toggle="tab" data-bs-target="#description"
              type="button" role="tab" aria-controls="description" aria-selected="false">More details</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="sizechart-tab" data-bs-toggle="tab" data-bs-target="#sizechart" type="button"
              role="tab" aria-controls="sizechart" aria-selected="false">Size Chart</button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade  " id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="block-color">
              <span>Title:</span>
              <label>
                <%= product.title %>
              </label>
            </div>

            <div class="block-color">
              <span>Brand:</span>
              <label>
                <%= product.brand %>
              </label>
            </div>

            <div class="block-color">
              <span>Category:</span>
              <label>
                <%= product.product_type %>
              </label>
            </div>

            <div class="block-color">
              <span>Regular Price:</span>
              <label>
                <%= product.regular_price %>
              </label>
            </div>

            <div class="block-color">
              <span>Sales Price:</span>
              <label>
                <%= product.sales_price %>
              </label>
            </div>

            <div class="block-color">
              <span>Stock left:</span>
              <label>
                <%= product.quantity %>
              </label>
            </div>


            <div class="block-color">
              <span>Size:</span>
              <label>
                <%= product.size %>
              </label>
            </div>

          </div>

          <div class="tab-pane fade " id="sizechart" role="tabpanel" aria-labelledby="sizechart-tab">
            <div style="display: block;margin: 0 auto; text-align: center; ">
              <img src="\assets2\imgs\template\size-chart.jpeg" alt="">

            </div>
          </div>

          <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            <p>At Guza Shoes, we believe that shoes are not just a necessity, but a reflection of your style,
              personality, and
              aspirations. Our passion for footwear is at the heart of everything we do, and we're dedicated to bringing
              you an
              unmatched shopping experience.
            </p>
            <p> Our Vision:
            </p>
            <p>
              We aspire to be your go-to destination for all things shoes. Whether you're shopping for everyday
              essentials, a
              special event, or the latest trends, Guza Shoes is here to make your shoe-buying experience enjoyable and
              memorable.
            </p>
            <p>
              Join us on this exciting journey as we explore the world of footwear together. Thank you for choosing Guza
              Shoes as
              your trusted shoe shopping partner.
            </p>
            <p>
              Step into style, comfort, and quality at Guza Shoes.
            </p>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="section block-may-also-like">
      <div class="container">
        <div class="text-center">
          <h3 class="mb-60">You May Also Like</h3>
        </div>
        <div class="row">
          <% randomProducts.forEach(product=> { %>

            <div class="col-lg-3 col-md-6">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage">
                  <img class="imageMain" style="height:410px; width: 420px;" src="/images/<%= product.images[0] %>"
                    alt="guza">
                  <a href="/product/<%= product._id%>">
                    <img class="imageHover " style="height:410px; width: 420px;" src="/images/<%= product.images[1] %>"
                      alt="guza">
                  </a>
                  

                  <div class="box-quick-button">
                    <!-- <a class="btn">
                      <svg class="d-inline-flex align-items-center justify-content-center" width="28" height="28"
                        viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_116_452)">
                          <path
                            d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z"
                            fill=""></path>
                        </g>
                        <defs>
                          <clippath id="clip0_116_452">
                            <rect width="24" height="24" fill="white" transform="translate(2 2)"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </a> -->

                    <a class="btn" href="/product/<%= product._id %>">
                      <svg class="d-inline-flex align-items-center justify-content-center" width="28" height="28"
                        viewbox="0 0 28 28" fill="" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_91_73)">
                          <path
                            d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z"
                            fill=""></path>
                        </g>
                        <defs>
                          <clippath id="clip0_91_73">
                            <rect width="24" height="24" fill="white" transform="translate(2 2)"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="cardInfo"><a href="#">
                    <h6 class="text-16-medium cardTitle">
                      <%= product.title %>
                    </h6>
                  </a>
                  <p class="body-p2 cardDesc">₹<%= product.sales_price %>
                  </p>
                </div>
              </div>
            </div>
            <% }) %>

        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer-bottom">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><img
              class="mr-25 d-inline-block align-middle logo-footer-img" src="/assets2/imgs/template/logo-light.svg"
              alt="Guza"><span class="body-p1 color-white d-inline-block align-middle">© 2023 Guza.Co. All rights
              reserved</span></div>
          <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
            <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
              <div class="d-inline-block box-payments mr-20"><img src="/assets2/imgs/template/icons/visa.svg"
                  alt="Guza"><img src="/assets2/imgs/template/icons/master.svg" alt="Guza"><img
                  src="/assets2/imgs/template/icons/stripe.svg" alt="Guza"><img
                  src="/assets2/imgs/template/icons/paypal.svg" alt="Guza"></div>
              <div class="dropdown mr-20">
                <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                  <li><a class="dropdown-item" href="#">EN</a></li>
                  <li><a class="dropdown-item" href="#">JP</a></li>
                  <li><a class="dropdown-item" href="#">KR</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">USD</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                  <li><a class="dropdown-item" href="#">USD</a></li>
                  <li><a class="dropdown-item" href="#">EURO</a></li>
                  <li><a class="dropdown-item" href="#">AUD</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

<script>
  function addToWishlist(productId) {
    console.log('----');
    console.log('ajax call..');
    $.ajax({
      url: '/add-to-wishlist',
      method: 'post',
      data: {productId},
      success: function (res) {
        const pathElement = document.querySelector('#wishlist-icon path');
        console.log(pathElement);
        if (res.itemExists) {
          pathElement.setAttribute('d', 'M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v-3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7');
          console.log("------itemExist------");
        } else{
          pathElement.setAttribute('d', 'M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z')
          console.log("------itemNotExist------");
        }
      }
    })
  }
</script>
