  <body>
    <main class="main">
      <!-- breadcrumbs -->
      <section class="section block-banner-shop"> 
        <div class="container"> 
          <h1 class="text-56-medium">Shop</h1>
          <div class="breadcrumbs"> 
            <ul> 
              <li> <a href="/">Home </a></li>
              <li> <a href="/shop">Shop</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- breadcrumbs end -->
      <section class="section block-content-shop">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="wrapper-overlay"></div>
              <div class="box-filters-sidebar"> 
                <h5 class="title-filter">Filter</h5>

                <!-- Price -->
                <!-- <div class="block-filter"> 
                  <h6 class="item-collapse">Price </h6>
                  <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox"> 
                      <li> 
                        <label class="cb-container">
                          <input type="checkbox"><span class="text-small">$10.00 - $49.00</span><span class="checkmark"></span>
                        </label>
                      </li>
                      <li> 
                        <label class="cb-container">
                          <input type="checkbox"><span class="text-small">$50.00 - $99.00</span><span class="checkmark"></span>
                        </label>
                      </li>
                      <li> 
                        <label class="cb-container">
                          <input type="checkbox"><span class="text-small">$100.00 - $199.00</span><span class="checkmark"></span>
                        </label>
                      </li>
                      <li> 
                        <label class="cb-container">
                          <input type="checkbox"><span class="text-small">$200.00 +</span><span class="checkmark"></span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div> -->
                <!-- Price -->

                <!-- Categories -->
                <div class="block-filter"> 
                  <h6 class="item-collapse">Categories</h6>
                  <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox"> 
                      <% allCategories.forEach(c => { %>
                        <li> 
                          <label class="cb-container">
                            <% if (c.name===category) { %>
                              <input onchange="location.href='/shop'" type="checkbox" checked>
                            <% } else { %>
                              <input onchange="location.href='/shop?category=<%= c.name %>'" type="checkbox">
                            <% } %>
                            <a href="/shop?category=<%= c.name %>">
                            <span class="text-small"><%= c.name %></span>
                            </a>
                            <span class="checkmark"></span>
                          </label>
                        </li>
                        <li> 
                      <% }) %>
                    </ul>
                  </div>
                </div>
                <!-- Categories -->

                <!-- Brand -->
                <div class="block-filter"> 
                  <h6 class="item-collapse">Brand </h6>
                  <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                      <% brands.forEach(b => { %>
                        <li> 
                          <label class="cb-container">
                            <% if (b.brand===brand) { %>
                              <input onchange="location.href='/shop'" type="checkbox" checked>
                              <% } else { %>
                                <input onchange="location.href='/shop?brand=<%= b.brand %>'" type="checkbox">
                                <% } %>
                            <a href="/shop?brand=<%= b.brand %>">
                            <span class="text-small"><%= b.brand %>(<%= b.productCount %>)</span>
                            </a>
                            <span class="checkmark"></span>
                          </label>
                        </li>
                      <% }) %> 

                    </ul>
                  </div>
                </div>
                <!-- Brand -->

                <!-- Type -->
                  <div class="block-filter"> 
                    <h6 class="item-collapse">Type </h6>
                    <div class="box-collapse scrollFilter">
                      <ul class="list-filter-checkbox">
                        <% product_type.forEach(t => { %>
                            <li> 
                              <label class="cb-container">
                                <% if (t.product_type===type) { %>
                              <input onchange="location.href='/shop'" type="checkbox" checked>
                              <% } else { %>
                                <input onchange="location.href='/shop?type=<%= t.product_type %>'" type="checkbox">
                                <% } %>
                                <a href="/shop?type=<%= t.product_type %>">
                                  <span class="text-small"><%= t.product_type %>(<%= t.productCount %>)</span>
                                </a>
                                <span class="checkmark"></span>
                              </label>
                            </li>
                        <% }) %>
                      </ul>
                    </div>
                  </div>
                <!-- Type -->

                <!-- Size -->
                <div class="block-filter"> 
                  <h6 class="item-collapse">Size </h6>
                  <div class="box-collapse scrollFilter">
                    <div class="block-size">
                      <div class="list-sizes">
                        <a <% if (size === 'XS') { %> href="/shop" <% } else { %> href="/shop?size=XS" <% } %>>
                          <span class="item-size <% if (size === 'XS') { %>active<% } %>">XS</span>
                        </a>
                        
                        <a  <% if (size === 'S') { %> href="/shop" <% } else { %> href="/shop?size=S" <% } %>>
                          <span class="item-size <% if (size === 'S') { %>active<% } %>">S</span>
                        </a>

                        <a <% if (size === 'M') { %> href="/shop" <% } else { %> href="/shop?size=M" <% } %>>
                          <span class="item-size <% if (size === 'M') { %>active<% } %>">M</span>
                        </a>

                        <a <% if (size === 'XL') { %> href="/shop" <% } else { %> href="/shop?size=XL" <% } %>>
                          <span class="item-size <% if (size === 'XL') { %>active<% } %>">XL</span>
                        </a>

                        <a <% if (size === 'XXL') { %> href="/shop" <% } else { %> href="/shop?size=XXL" <% } %>>
                          <span class="item-size <% if (size === 'XXL') { %>active<% } %>">XXL</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Size -->

              </div>
            </div>
            <div class="col-lg-9">
              <form action="/shop" class="form-inline" style="padding-bottom: 30px;">
                <input name="search" class="form-control mr-sm-2-s" type="search" placeholder="Search.." value="<%= search %>" aria-label="Search">
                <button class="btn btn-outline my-2 my-sm-0" type="submit">
                  <svg style="padding-right:20px ;" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><style>svg{fill:#000000}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </button>
              </form>
              <div class="box-filter-top"> 

                <div class="show-sm"> <a class="btn-open-filter" href="#">Filter </a></div>
                <div class="number-product">
                  <!-- <h5 class="title-filter">Products</h5> -->
                <p class="body-p2 neutral-medium-dark">Showing <%= allProducts.length %> of <%= count %> products</p>
                </div>
                <div class="box-sort"> 
                  <div class="box-sortby d-flex align-items-center">
                    <div class="dropdown dropdown-sort">
                      <button  class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort By</button>
                      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort" style="margin: 0px;">
                        <a href="/shop?sort=stock_status&order=1">
                          <li class="dropdown-item <% if (sort==="stock_status" && order==="1") { %> active <% } %>">Default Sorting</li>
                        </a>
                        <a href="/shop?sort=createdAt&order=-1">
                          <li class="dropdown-item<% if (sort==="createdAt" && order==="-1") { %> active <% } %>">Newest Arrivals</li>
                        </a>
                        <a href="/shop?sort=sales_price&order=1">
                          <li class="dropdown-item <% if (sort==="sales_price" && order==="1") { %> active <% } %>">Price:Low to High</li>
                        </a>
                        <a href="/shop?sort=sales_price&order=-1">
                          <li class="dropdown-item <% if (sort==="sales_price" && order==="-1") { %> active <% } %>">Price:High to Low</li>
                        </a>
                        <a href="/shop?sort=title&order=1">
                          <li class="dropdown-item <% if (sort==="title" && order==="1") { %> active <% } %>">Name:Ascending</li>
                        </a>
                        <a href="/shop?sort=title&order=-1">
                          <li class="dropdown-item <% if (sort==="title" && order==="-1") { %> active <% } %>">Name:Descending</li>
                        </a>
                      </ul>
                    </div>
                  </div>
                  <div class="box-view-style"> <a class="view-type view-2" href="#" data-col="2"></a><a class="view-type view-3 active" href="#" data-col="3"></a><a class="view-type view-4" href="#" data-col="4"></a><a class="view-type view-5" href="#" data-col="5"></a></div>
                </div>
              </div>
              <!-- <div class="box-your-filter">
                <div class="block-text-filter"><span class="body-p2 neutral-medium-dark">Your filter</span></div>
                <div class="block-ele-filter"><a class="btn btn-tag-filter" href="#">XS<span class="close-tag"></span></a><a class="btn btn-tag-filter" href="#">Women<span class="close-tag"></span></a><a class="clear-filter link-underline" href="#">Clear All</a></div>
              </div> -->
              <div class="box-list-products">
                <!-- product -->
              <% if (!allProducts.length) { %>
                <img src="assets2/Images/no-product-found.png" alt="">
              <% } %>
                
                <% allProducts.forEach(product => { %>
                  <div class="product-item">
                    <div class="cardProduct wow fadeInUp">
                      <div class="cardImage"><a href="/product/<%= product._id%>"><img  style="height:410px; width: 420px;" class="imageMain" src="/images/<%= product.images[0] %>" alt="guza"><img style="height:410px; width: 420px;" class="imageHover" src="/images/<%= product.images[1] %>" alt="guza"></a>
                        <form action="/add-to-cart" method="post">
                          <input type="hidden" name="productId" value="<%=product._id%>">
                          <input type="hidden" name="quantity" value="1">
                          <button  class="btn btn-black button-select"  type="submit">Add to Cart</button>
                        </form>
                        <div class="box-quick-button"><a class="btn" href="/wishuu">
                            <svg class="d-inline-flex align-items-center justify-content-center" width="28" height="28" viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_116_452)">
                                <path d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z" fill=""></path>
                              </g>
                              <defs>
                                <clippath id="clip0_116_452">
                                  <rect width="24" height="24" fill="white" transform="translate(2 2)"></rect>
                                </clippath>
                              </defs>
                            </svg></a>
                            <a class="btn" href="/product/<%= product._id %>">
                            <svg class="d-inline-flex align-items-center justify-content-center" width="28" height="28" viewbox="0 0 28 28" fill="" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_91_73)">
                                <path d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z" fill=""></path>
                              </g>
                              <defs>
                                <clippath id="clip0_91_73">
                                  <rect width="24" height="24" fill="white" transform="translate(2 2)"></rect>
                                </clippath>
                              </defs>
                            </svg></a></div>
                      </div>
                      <div class="cardInfo"><a href="#">
                          <h6 class="text-16-medium cardTitle"><%= product.title %></h6></a>
                        <p class="body-p2 cardDesc">₹ <%= product.sales_price %></p>
                      </div>
                    </div>
                  </div>
                <% }) %>
             
                <!-- product end-->
          </div>
          
          <nav aria-label="Page navigation example">
            <% totalPage = Math.ceil(count/9) %>
            <ul class="pagination" style="align-items: center; justify-content: center;">
                <li class="page-item"><a class="page-link" data-sort="<%= sort%>" data-order="<%= order%>"  data-totalPage="<%= totalPage %>" data-cpage="<%= page %>" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg></a></li>
                <% for( let i = 1; i <=totalPage ; i++ ) { %>
                    <li class="page-item">
                        <!-- Use data-page attribute to store the page number -->
                        <a class="page-link" href="#" data-sort="<%= sort%>" data-order="<%= order%>" data-page="<%= i %>"><%= i%></a>
                    </li>
                <% } %>
                <li class="page-item"><a class="page-link"  data-sort="<%= sort%>" data-order="<%= order%>" data-totalPage="<% totalPage %>" data-cpage="<%= page %>" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></a></li>
            </ul>
        </nav>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-bottom">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><img class="mr-25 d-inline-block align-middle logo-footer-img" src="assets2/imgs/template/logo-light.svg" alt="Guza"><span class="body-p1 color-white d-inline-block align-middle">© 2023 Guza.Co. All rights reserved</span></div>
            <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
              <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                <div class="dropdown mr-20">
                  <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button" data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                  </ul>
                </div>
                <div class="dropdown">
                  <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button" data-bs-toggle="dropdown" aria-expanded="false">IND</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                    <li><a class="dropdown-item" href="#">IND</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
<style>
  .pagination li a.active, .pagination li a:hover {
    background-color: #ededed;
    color: #000; 
    }
    .page-item:last-child .page-link {
      border-top-right-radius: 1cm;
    border-top-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
    border-bottom-left-radius: 1cm;
}
  .page-item:first-child .page-link {
    border-top-right-radius: 1cm;
    border-top-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
    border-bottom-left-radius: 1cm;
  }
</style>
<script>
  //Get a reference to the checkbox element
  const checkbox = document.getElementById('myCheckbox');

  // Add an event listener to detect changes in the checkbox state
  checkbox.addEventListener('change', function() {
    // Check if the checkbox is unchecked
    if (!checkbox.checked) {
      // Redirect to the desired URL
      window.location.href = '/shop';
    }
  });
</script>
<script>
    // Get all the page links
    var pageLinks = document.querySelectorAll('.pagination .page-item .page-link');

    // Get the Previous and Next buttons
    var prevButton = document.querySelector('.pagination li:first-child .page-link');
    var nextButton = document.querySelector('.pagination li:last-child .page-link');

    // Attach a click event listener to each page link
    pageLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            // Prevent the default behavior of the link
            event.preventDefault();

            // Remove 'active' class from all page items
            pageLinks.forEach(function(link) {
                link.parentElement.classList.remove('active');
            });

            // Add 'active' class to the clicked page item
            link.parentElement.classList.add('active');

            // Get the page number from the data-page attribute
            var pageNumber = link.getAttribute('data-page');
            var sort = link.getAttribute('data-sort');
            var order = link.getAttribute('data-order');

            // Redirect to the new URL with the activated page number
            window.location.href = `/shop?page=${pageNumber}&sort=${sort}&order=${order}`
        });
    });

    // Attach a click event listener to the Previous button
    prevButton.addEventListener('click', function(event) {
        event.preventDefault();
        
        // Calculate the previous page number based on the current active page
        var currentPage = document.querySelector('.pagination .page-item .page-link');
        var cpageNumber = parseInt(currentPage.getAttribute('data-cpage'));
        var sort = currentPage.getAttribute('data-sort');
        var order = currentPage.getAttribute('data-order');
        if (cpageNumber > 1) {
            // Redirect to the previous page
            window.location.href = `/shop?page=${cpageNumber-1}&sort=${sort}&order=${order}`
        }else{
          window.location.href = `/shop?page=${cpageNumber}&sort=${sort}&order=${order}`
        }
    });

    // Attach a click event listener to the Next button
    nextButton.addEventListener('click', function(event) {
        event.preventDefault();
        
        // Calculate the next page number based on the current active page
        var currentPage = document.querySelector('.pagination .page-item .page-link');
        var cpageNumber = parseInt(currentPage.getAttribute('data-cpage'));
        console.log("Currpage:"+cpageNumber);
        var totalPages = parseInt(currentPage.getAttribute('data-totalPage'));
        console.log("totalpage:"+totalPages);
        var sort = currentPage.getAttribute('data-sort');
        var order = currentPage.getAttribute('data-order');

        if (cpageNumber < totalPages) {
            // Redirect to the next page
            window.location.href = `/shop?page=${cpageNumber+1}&sort=${sort}&order=${order}`
        }else{
          window.location.href = `/shop?page=${cpageNumber}&sort=${sort}&order=${order}`
        }
    });
</script>

