  <body>
    <main class="main">
      <!-- breadcrumbs -->
      <section class="section block-banner-shop"> 
        <div class="container"> 
          <h1 class="text-56-medium">Shop</h1>
          <div class="breadcrumbs"> 
            <ul> 
              <li> <a href="/">Home </a></li>
              <li> <a href="/shop">Shop</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- breadcrumbs end -->
      <section class="section block-content-shop">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="wrapper-overlay"></div>
              <div class="box-filters-sidebar"> 
                <h5 class="title-filter">Filter</h5>
                  <!-- Price -->
                  <!-- <div class="block-filter"> 
                    <h6 class="item-collapse">Price </h6>
                    <div class="box-collapse scrollFilter">
                      <ul class="list-filter-checkbox"> 
                        <li> 
                          <label class="cb-container">
                            <input type="checkbox"><span class="text-small">$10.00 - $49.00</span><span class="checkmark"></span>
                          </label>
                        </li>
                        <li> 
                          <label class="cb-container">
                            <input type="checkbox"><span class="text-small">$50.00 - $99.00</span><span class="checkmark"></span>
                          </label>
                        </li>
                        <li> 
                          <label class="cb-container">
                            <input type="checkbox"><span class="text-small">$100.00 - $199.00</span><span class="checkmark"></span>
                          </label>
                        </li>
                        <li> 
                          <label class="cb-container">
                            <input type="checkbox"><span class="text-small">$200.00 +</span><span class="checkmark"></span>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                  <!-- Price -->
                <!-- Categories -->
                <div class="block-filter"> 
                  <h6 class="item-collapse">Categories</h6>
                  <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox"> 
                      <% allCategories.forEach(category => { %>
                        <li> 
                          <label class="cb-container">
                            <input type="checkbox"><span class="text-small"><%= category.name %></span><span class="checkmark"></span>
                          </label>
                        </li>
                        <li> 
                      <% }) %>
                    </ul>
                  </div>
                </div>
                <!-- Categories -->


      
                <!-- Brand -->
                <div class="block-filter"> 
                  <h6 class="item-collapse">Brand </h6>
                  <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                      <% brands.forEach(brand => { %>
                        <li> 
                          <label class="cb-container">
                            <input type="checkbox"><span class="text-small"><%= brand.brand %>(<%= brand.productCount %>)</span><span class="checkmark"></span>
                          </label>
                        </li>
                      <% }) %> 

                    </ul>
                  </div>
                </div>
                <!-- Type -->
                  <!-- Brand -->
                  <div class="block-filter"> 
                    <h6 class="item-collapse">Type </h6>
                    <div class="box-collapse scrollFilter">
                      <ul class="list-filter-checkbox">
                        <% product_type.forEach(type => { %>
                          <li> 
                            <label class="cb-container">
                              <input type="checkbox"><span class="text-small"><%= type.product_type %>(<%= type.productCount %>)</span><span class="checkmark"></span>
                            </label>
                          </li>
                        <% }) %> 
  
                      </ul>
                    </div>
                  </div>
                <!-- Type -->

                <!-- Size -->
                <div class="block-filter"> 
                  <h6 class="item-collapse">Size </h6>
                  <div class="box-collapse scrollFilter">
                    <div class="block-size">
                      <div class="list-sizes"><span class="item-size">XS </span><span class="item-size active">S </span><span class="item-size">M </span><span class="item-size">XL </span><span class="item-size">XXL </span></div>
                    </div>
                  </div>
                </div>
                <!-- Size -->
              </div>
            </div>
            <div class="col-lg-9">
              <div class="box-filter-top"> 
                <div class="show-sm"> <a class="btn-open-filter" href="#">Filter </a></div>
                <div class="number-product"> 
                  <!-- <p class="body-p2 neutral-medium-dark">Search</p> -->
                  <h5>Products</h5>
                </div>
                <div class="box-sort"> 
                  <div class="box-sortby d-flex align-items-center">
                    <div class="dropdown dropdown-sort">
                      <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">Default Sorting</button>
                      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort" style="margin: 0px;">
                        <li><a class="dropdown-item active" href="#">Default Sorting</a></li>
                        <li><a class="dropdown-item" href="#">Oldest products</a></li>
                        <li><a class="dropdown-item" href="#">Comments products </a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="box-view-style"> <a class="view-type view-2" href="#" data-col="2"></a><a class="view-type view-3 active" href="#" data-col="3"></a><a class="view-type view-4" href="#" data-col="4"></a><a class="view-type view-5" href="#" data-col="5"></a></div>
                </div>
              </div>
              <!-- <div class="box-your-filter">
                <div class="block-text-filter"><span class="body-p2 neutral-medium-dark">Your filter</span></div>
                <div class="block-ele-filter"><a class="btn btn-tag-filter" href="#">XS<span class="close-tag"></span></a><a class="btn btn-tag-filter" href="#">Women<span class="close-tag"></span></a><a class="clear-filter link-underline" href="#">Clear All</a></div>
              </div> -->
              <div class="box-list-products">
                <!-- product -->
                <% allProducts.forEach(product => { %>
                  <div class="product-item">
                    <div class="cardProduct wow fadeInUp">
                      <div class="cardImage"><a href="/product/<%= product._id%>"><img  style="height:410px; width: 420px;" class="imageMain" src="/images/<%= product.images[0] %>" alt="guza"><img class="imageHover" src="/images/<%= product.images[1] %>" alt="guza"></a>
                        <div class="button-select"><a href="#">Add to cart</a></div>
                        <div class="box-quick-button"><a class="btn" href="#">
                            <svg class="d-inline-flex align-items-center justify-content-center" width="28" height="28" viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_116_452)">
                                <path d="M14.001 6.52898C16.35 4.41998 19.98 4.48998 22.243 6.75698C24.505 9.02498 24.583 12.637 22.479 14.993L13.999 23.485L5.52101 14.993C3.41701 12.637 3.49601 9.01898 5.75701 6.75698C8.02201 4.49298 11.645 4.41698 14.001 6.52898ZM20.827 8.16998C19.327 6.66798 16.907 6.60698 15.337 8.01698L14.002 9.21498L12.666 8.01798C11.091 6.60598 8.67601 6.66798 7.17201 8.17198C5.68201 9.66198 5.60701 12.047 6.98001 13.623L14 20.654L21.02 13.624C22.394 12.047 22.319 9.66498 20.827 8.16998Z" fill=""></path>
                              </g>
                              <defs>
                                <clippath id="clip0_116_452">
                                  <rect width="24" height="24" fill="white" transform="translate(2 2)"></rect>
                                </clippath>
                              </defs>
                            </svg></a><a class="btn" href="#">
                            <svg class="d-inline-flex align-items-center justify-content-center" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_200_1102)">
                                <path d="M15.375 12.0416L19.5 16.1666L15.375 20.2916L14.1967 19.1133L16.31 16.9991L5.33333 17V15.3333H16.31L14.1967 13.22L15.375 12.0416ZM8.625 3.70831L9.80333 4.88665L7.69 6.99998H18.6667V8.66665H7.69L9.80333 10.78L8.625 11.9583L4.5 7.83331L8.625 3.70831Z" fill=""></path>
                              </g>
                              <defs>
                                <clippath id="clip0_200_1102">
                                  <rect width="20" height="20" fill="white" transform="translate(2 2)"></rect>
                                </clippath>
                              </defs>
                            </svg></a><a class="btn preview-product" href="#">
                            <svg class="d-inline-flex align-items-center justify-content-center" width="28" height="28" viewbox="0 0 28 28" fill="" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_91_73)">
                                <path d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z" fill=""></path>
                              </g>
                              <defs>
                                <clippath id="clip0_91_73">
                                  <rect width="24" height="24" fill="white" transform="translate(2 2)"></rect>
                                </clippath>
                              </defs>
                            </svg></a></div>
                      </div>
                      <div class="cardInfo"><a href="#">
                          <h6 class="text-16-medium cardTitle"><%= product.title %></h6></a>
                        <p class="body-p2 cardDesc">₹ <%= product.sales_price %></p>
                      </div>
                    </div>
                  </div>
                <% }) %>
             
                <!-- product end-->
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-30">
              <h5 class="color-white mb-20">Receive an exclusive<span class="tone-red">20%</span><br class="d-none d-md-block">discount code when you<br class="d-none d-md-block">signup.</h5>
              <div class="box-form-subscribe box-form-subscribe-white">
                <form class="form-sub" action="#" method="POST">
                  <input class="form-control" type="text" placeholder="Enter your email">
                  <input class="btn btn-subscribe" type="submit" value="Subscribe">
                </form>
              </div>
            </div>
            <div class="col-lg-8 mb-30">
              <div class="row">
                <div class="col-lg-3 mb-30 footerBorder">
                  <h6 class="color-white mb-20">Company</h6>
                  <ul class="menu-footer">
                    <li><a href="about-us-1.html">About us</a></li>
                    <li><a href="carrers.html">Careers</a></li>
                    <li><a href="store-location.html">Store Locator</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 mb-30 footerBorder">
                  <h6 class="color-white mb-20">Customer Care</h6>
                  <ul class="menu-footer">
                    <li><a href="about-us-1.html">Size Guide</a></li>
                    <li><a href="team.html">Help & FAQs</a></li>
                    <li><a href="career.html">Return My Order</a></li>
                    <li><a href="#">Refer a Friend</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 mb-30 footerBorder">
                  <h6 class="color-white mb-20">Terms & Policies</h6>
                  <ul class="menu-footer">
                    <li><a href="#">Duties & Taxes</a></li>
                    <li><a href="#">Shipping Info</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Conditions</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 mb-30 footerBorder">
                  <h6 class="color-white mb-20">Follow Us</h6>
                  <ul class="menu-footer">
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Pinterest</a></li>
                    <li><a href="#">Tiktok</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-2">
        <div class="container">
          <div class="footer-bottom">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><img class="mr-25 d-inline-block align-middle logo-footer-img" src="assets2/imgs/template/logo-light.svg" alt="Guza"><span class="body-p1 color-white d-inline-block align-middle">© 2023 Guza.Co. All rights reserved</span></div>
              <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
                <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                  <div class="d-inline-block box-payments mr-20"><img src="assets2/imgs/template/icons/visa.svg" alt="Guza"><img src="assets2/imgs/template/icons/master.svg" alt="Guza"><img src="assets2/imgs/template/icons/stripe.svg" alt="Guza"><img src="assets2/imgs/template/icons/paypal.svg" alt="Guza"></div>
                  <div class="dropdown mr-20">
                    <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button" data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                      <li><a class="dropdown-item" href="#">EN</a></li>
                      <li><a class="dropdown-item" href="#">JP</a></li>
                      <li><a class="dropdown-item" href="#">KR</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button" data-bs-toggle="dropdown" aria-expanded="false">USD</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                      <li><a class="dropdown-item" href="#">USD</a></li>
                      <li><a class="dropdown-item" href="#">EURO</a></li>
                      <li><a class="dropdown-item" href="#">AUD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>

